[Desktop Entry]
Name=Web Browser Manager
Comment=Easily install and uninstall web browsers in feren OS (Originated from Zorin OS).
GenericName=Browser Manager
Exec=browser-manager-pre
Icon=browser-manager
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;WebBrowser;

