<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

    <vendor>Feren Team</vendor>
    <vendor_url>https://ferenos.weebly.com/</vendor_url>
    <icon_name>browser-manager</icon_name>
    <action id="org.feren.browser-manager.falkon-install">

        <description gettext-domain="gparted">Web Browser Manager</description>
        <message gettext-domain="gparted">Authentication is required to manage installed browsers</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/share/browser-manager/falkon/install</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>

    </action>

</policyconfig>
